.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  margin: 0.4em;
  cursor: pointer;
}

.pen-alt {
  color: blue;
}

.trash {
  color: red;
}
